<a href="https://colab.research.google.com/github/Rishapriakanth/Machine-learning-analysis/blob/main/Data_preprocessing_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
df = pd.read_csv("/content/sample - Sheet1.csv")
print(df)
df_gender_encode=LabelEncoder()
df.gender=df_gender_encode.fit_transform(df.gender)
print(df)

   id    first     last gender  marks selected
0   1      leo      deb      f     50        t
1   2   romola     phin      f     60        f
2   3     geri    prium      m     65        f
3   4    sandy     dove      f     95        f
4   5  jacenta   jansik      f     31        t
5   6    diane     medh      f     45        t
6   7   austen     pool      m     45        t
7   8    vanya     teff      m     70        f
8   9      gio    elloy      m     36        f
9  10   rozele  fawcett      f     50        f
   id    first     last  gender  marks selected
0   1      leo      deb       0     50        t
1   2   romola     phin       0     60        f
2   3     geri    prium       1     65        f
3   4    sandy     dove       0     95        f
4   5  jacenta   jansik       0     31        t
5   6    diane     medh       0     45        t
6   7   austen     pool       1     45        t
7   8    vanya     teff       1     70        f
8   9      gio    elloy       1     36        f
9  10   rozele  fawcett       0     50        f

In [ ]:
from sklearn import preprocessing
df.marks = preprocessing.scale(df.marks)
scaled_df= preprocessing.scale(df.marks)
print(df)
newarr = scaled_df.reshape(-1,1)
scaled_df_bin = preprocessing.Binarizer(threshold=0.5).transform(newarr)
df['marks']=scaled_df_bin
print(df)
print("Binarizarion of marks is completed\n\n\n\n")

   id    first     last  gender     marks selected
0   1      leo      deb       0 -0.265401        t
1   2   romola     phin       0  0.299282        f
2   3     geri    prium       1  0.581624        f
3   4    sandy     dove       0  2.275674        f
4   5  jacenta   jansik       0 -1.338300        t
5   6    diane     medh       0 -0.547743        t
6   7   austen     pool       1 -0.547743        t
7   8    vanya     teff       1  0.863966        f
8   9      gio    elloy       1 -1.055958        f
9  10   rozele  fawcett       0 -0.265401        f
   id    first     last  gender  marks selected
0   1      leo      deb       0    0.0        t
1   2   romola     phin       0    0.0        f
2   3     geri    prium       1    1.0        f
3   4    sandy     dove       0    1.0        f
4   5  jacenta   jansik       0    0.0        t
5   6    diane     medh       0    0.0        t
6   7   austen     pool       1    0.0        t
7   8    vanya     teff       1    1.0        f
8   9      gio    elloy       1    0.0        f
9  10   rozele  fawcett       0    0.0        f
Binarizarion of marks is completed

In [ ]:
import pandas as pd
df = pd.read_csv("/content/sample - Sheet1.csv")
print(df)
print("End of Listing\n\n\n")
# Let us create duplicate elements in the given dataset
# This is done using the command concate 2 times as given below
df_duplicated = pd.concat([df]*2, ignore_index=True)
print(df_duplicated)
print("Display before duplication\n\n\n\n")
df_duplicates_removed = pd.DataFrame.drop_duplicates(df_duplicated)
print(df_duplicates_removed)
print("Display after duplication\n\n\n\n")

   id    first     last gender  marks selected
0   1      leo      deb      f     50        t
1   2   romola     phin      f     60        f
2   3     geri    prium      m     65        f
3   4    sandy     dove      f     95        f
4   5  jacenta   jansik      f     31        t
5   6    diane     medh      f     45        t
6   7   austen     pool      m     45        t
7   8    vanya     teff      m     70        f
8   9      gio    elloy      m     36        f
9  10   rozele  fawcett      f     50        f
End of Listing



    id    first     last gender  marks selected
0    1      leo      deb      f     50        t
1    2   romola     phin      f     60        f
2    3     geri    prium      m     65        f
3    4    sandy     dove      f     95        f
4    5  jacenta   jansik      f     31        t
5    6    diane     medh      f     45        t
6    7   austen     pool      m     45        t
7    8    vanya     teff      m     70        f
8    9      gio    elloy      m     36        f
9   10   rozele  fawcett      f     50        f
10   1      leo      deb      f     50        t
11   2   romola     phin      f     60        f
12   3     geri    prium      m     65        f
13   4    sandy     dove      f     95        f
14   5  jacenta   jansik      f     31        t
15   6    diane     medh      f     45        t
16   7   austen     pool      m     45        t
17   8    vanya     teff      m     70        f
18   9      gio    elloy      m     36        f
19  10   rozele  fawcett      f     50        f
Display before duplication




   id    first     last gender  marks selected
0   1      leo      deb      f     50        t
1   2   romola     phin      f     60        f
2   3     geri    prium      m     65        f
3   4    sandy     dove      f     95        f
4   5  jacenta   jansik      f     31        t
5   6    diane     medh      f     45        t
6   7   austen     pool      m     45        t
7   8    vanya     teff      m     70        f
8   9      gio    elloy      m     36        f
9  10   rozele  fawcett      f     50        f
Display after duplication

In [ ]:
import pandas as pd
df = pd.DataFrame({
'm1':[50,'A',60,'A',80], 'm2':[60,'A','60','A',80], 'm3':[50,70,'A','A',60], 'm4':[60,'A','A','A',60], 'm5':['A','A','A',10,20] })
df = df.apply(pd.to_numeric,errors='coerce')
print(df)
df['m5']=df['m5'].fillna(0)
print(df)
print('Making m5 NaN as 0 using fillna() function\n\n\n\n')
df1 = df.copy()
df1['m2'].fillna(df1['m2'].mean(),inplace=True)
print(df1)
print('Making m5 NaN as mean using fillna() function\n\n\n\n')
df2 = df.copy()
df1['m3'].fillna(df1['m2'].median(),inplace=True)
print(df2)
print('Making m5 NaN as median using fillna() function\n\n\n\n')
df=df.dropna(axis=1)
print(df)
print('Dropping all columns having NaN\n\n\n\n')

     m1    m2    m3    m4    m5
0  50.0  60.0  50.0  60.0   NaN
1   NaN   NaN  70.0   NaN   NaN
2  60.0  60.0   NaN   NaN   NaN
3   NaN   NaN   NaN   NaN  10.0
4  80.0  80.0  60.0  60.0  20.0
     m1    m2    m3    m4    m5
0  50.0  60.0  50.0  60.0   0.0
1   NaN   NaN  70.0   NaN   0.0
2  60.0  60.0   NaN   NaN   0.0
3   NaN   NaN   NaN   NaN  10.0
4  80.0  80.0  60.0  60.0  20.0
Making m5 NaN as 0 using fillna() function




     m1         m2    m3    m4    m5
0  50.0  60.000000  50.0  60.0   0.0
1   NaN  66.666667  70.0   NaN   0.0
2  60.0  60.000000   NaN   NaN   0.0
3   NaN  66.666667   NaN   NaN  10.0
4  80.0  80.000000  60.0  60.0  20.0
Making m5 NaN as mean using fillna() function




     m1    m2    m3    m4    m5
0  50.0  60.0  50.0  60.0   0.0
1   NaN   NaN  70.0   NaN   0.0
2  60.0  60.0   NaN   NaN   0.0
3   NaN   NaN   NaN   NaN  10.0
4  80.0  80.0  60.0  60.0  20.0
Making m5 NaN as median using fillna() function




     m5
0   0.0
1   0.0
2   0.0
3  10.0
4  20.0
Dropping all columns having NaN

In [ ]:
from numpy import asarray
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler
data = asarray([[1,3],[8,5],[6,7],[8,9]])
print("\n Original Data")
print(data)
scaler1 = MinMaxScaler()
scaler2 = StandardScaler()
scaled1 = scaler1.fit_transform(data)
scaled2 = scaler2.fit_transform(data)
print("\n\nThe output of MinMax Scaling")
print(scaled1)
print("\n\nThe output of Standard scaling as z-score")
print(scaled2)

 Original Data
[[1 3]
 [8 5]
 [6 7]
 [8 9]]


The output of MinMax Scaling
[[0.         0.        ]
 [1.         0.33333333]
 [0.71428571 0.66666667]
 [1.         1.        ]]


The output of Standard scaling as z-score
[[-1.66003771 -1.34164079]
 [ 0.78633365 -0.4472136 ]
 [ 0.08737041  0.4472136 ]
 [ 0.78633365  1.34164079]]